[env]
CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE = true

[config]
default_to_workspace = false

[tasks.build]
command = "cargo"
args = ["build"]

[tasks.cli-test]
dependencies = ["build"]
script = '''
    tmpdir=$(mktemp -d "/tmp/planus-generate-XXXXX")
    for f in test/files/valid/*.fbs; do
        if [ -f "$f" ]; then
            file_stem=$(basename -s .fbs $f)
            echo -n "Checking $f: "
            target/debug/planus check $f && true

            if [ $? -eq 0 ]; then
                echo -e "\e[0;32msuccess\e[0m"
            else
                echo -e "\e[0;31mCheck failed\e[0m"
                failed=1
            fi
        fi
    done

    for f in test/files/invalid/*.fbs; do
        if [ -f "$f"  ]; then
            file_stem=$(basename -s .fbs $f)
            echo -n "Checking $f: "
            target/debug/planus check $f 2> $tmpdir/$file_stem.stderr && true
            res=$?
            if [ $res -eq 0 ]; then
                echo -e "\e[0;31mcompiled\e[0m"
                continue
            elif [ $res -eq 101 ]; then
                echo -e "\e[0;31mpanic\e[0m"
                continue
            fi

            if [ -f "test/files/invalid/$file_stem.stderr" ]; then
                diff -q "test/files/invalid/$file_stem.stderr" "$tmpdir/$file_stem.stderr" >/dev/null && true
                if [ $? -eq 0 ]; then
                    echo -e "\e[0;32msuccess\e[0m"
                else
                    if [ "$1" = "regenerate" ]; then
                        echo -e "\e[0;33moverwriting\e[0m"
                        cp "$tmpdir/$file_stem.stderr" "test/files/invalid/$file_stem.stderr"
                    else
                        echo -e "\e[0;31mdiff changed\e[0m"
                        diff "test/files/invalid/$file_stem.stderr" "$tmpdir/$file_stem.stderr" && true
                        failed="1"
                    fi
                fi
            else
                echo "Creating new test/files/invalid/$file_stem.stderr"
                cp "$tmpdir/$file_stem.stderr" "test/files/invalid/$file_stem.stderr"
            fi


        fi
    done

    if [ "$failed" = "1" ]; then
        echo "cargo make generate failed: $tmpdir"
        exit 1
    else
        rm -rf "$tmpdir"
    fi
'''

[tasks.lint]
script = '''
    cargo fmt --all -- --check
    cargo clippy --no-default-features --all-targets -- -D warnings
    cargo clippy --all-features --all-targets -- -D warnings
'''

[tasks.commit-check]
script = '''
    if [ "$CI" = true ]; then
        uncommited_changes=$(git status --porcelain=v1 --untracked-files=no 2>/dev/null | grep -v '^ M examples/rust/monster.svg$' | wc -l)
    else
        uncommited_changes=$(git status --porcelain=v1 --untracked-files=no 2>/dev/null | wc -l)
    fi
    if [ $uncommited_changes -gt 0 ]; then
        echo "commit-check failed because of unstaged changes:"
        git status
        exit 1
    fi
'''

[tasks.regenerate-examples]
script = '''
    cargo run -p planus-cli --bin planus -- rust -o examples/rust/src/monster_generated.rs examples/rust/monster.fbs
    cargo run -p planus-cli --bin planus -- dot -o examples/rust/monster.dot examples/rust/monster.fbs
    dot -Tsvg examples/rust/monster.dot -o examples/rust/monster.svg
'''

[tasks.test-features]
script_runner = "bash"
script_extension = "sh"
script = '''
    set -euo pipefail
    for dir in test/rust-test-2018 test/rust-test-2021 test/rust-test-2024; do
        pushd $dir
        for std in "" "std"; do
            for cache in "" "vtable-cache string-cache bytes-cache"; do
                cargo test --no-default-features --features "${std} ${cache}"
            done
        done
        popd
    done
'''

[tasks.test-example]
script_runner = "bash"
script_extension = "sh"
script = '''
    set -euo pipefail
    cd examples/rust
    cargo test --no-default-features
    cargo test --all-features
'''

[tasks.full-test]
dependencies = [
    "regenerate-examples",
    "lint",
    # Check that all examples are up to date
    "commit-check",
    "test",
    "test-features",
    "test-example",
    "cli-test",
]
