name: CI

on:
  push:
    branches: ["main"]
  pull_request:
  schedule:
    - cron: "32 4 * * 5"

jobs:
  Test:
    strategy:
      matrix:
        # os: [ubuntu-latest, macos-latest, windows-latest]
        os: [ubuntu-latest]
        rust: [stable, beta]
        # exclude:
        #   - os: macos-latest
        #     rust: beta
        #   - os: windows-latest
        #     rust: beta

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
          components: rustfmt
      - uses: Swatinem/rust-cache@v1
      - name: Flatbuffers binary cache
        id: flatbuffers-cache
        uses: actions/cache@v2
        with:
          path: ~/flatc
          key: flatbuffers-${{ runner.os }}
      - name: Install flatbuffers
        if: steps.flatbuffers-cache.outputs.cache-hit != 'true'
        run: .github/workflows/build_flatbuffers.sh
      - name: Copy flatbuffers binary to /usr/bin
        run: sudo cp ~/flatc /usr/local/bin/
      - uses: actions-rs/cargo@v1
        with:
          command: install
          args: cargo-make
      - uses: actions-rs/cargo@v1
        with:
          command: make
          args: test
      - uses: actions-rs/cargo@v1
        with:
          command: make
          args: cli-test

  Lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v1
      - name: Flatbuffers binary cache
        id: flatbuffers-cache
        uses: actions/cache@v2
        with:
          path: ~/flatc
          key: flatbuffers-${{ runner.os }}
      - name: Install flatbuffers
        if: steps.flatbuffers-cache.outputs.cache-hit != 'true'
        run: .github/workflows/build_flatbuffers.sh
      - name: Copy flatbuffers binary to /usr/bin
        run: sudo cp ~/flatc /usr/local/bin/
      - run: cargo fmt --all -- --check
      - run: cargo clippy --all-targets -- -D warnings
