name: CI

env:
  CARGO_TERM_COLOR: always
  FLATBUFFER_VERSION: 24.3.25

on:
  push:
    branches: ["main"]
  pull_request:
  schedule:
    - cron: "32 4 * * 5"
  workflow_dispatch:

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
        rust: ["1.75", stable, beta]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install --no-install-recommends graphviz
      - uses: actions/checkout@v4.2.1
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v2
      - name: Flatbuffers binary cache
        id: flatbuffers-cache
        uses: actions/cache@v4
        with:
          path: ~/flatc
          key: flatbuffers-${{ runner.os }}-${{ env.FLATBUFFER_VERSION }}
      - name: Install flatbuffers
        if: steps.flatbuffers-cache.outputs.cache-hit != 'true'
        run: .github/workflows/build_flatbuffers.sh
      - name: Copy flatbuffers binary to /usr/bin
        run: sudo cp ~/flatc /usr/local/bin/
      - uses: actions-rs/cargo@v1
        with:
          command: install
          args: cargo-make
      - uses: actions-rs/cargo@v1
        with:
          command: make
          args: full-test
