name: CI

env:
  CARGO_TERM_COLOR: always
  FLATBUFFER_VERSION: 24.3.25

on:
  push:
    branches: ["main"]
  pull_request:
  schedule:
    - cron: "32 4 * * 5"
  workflow_dispatch:

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
        rust: ["1.83", stable, beta]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install --no-install-recommends graphviz
      - uses: actions/checkout@v6.0.0
      - name: Install rust stable
        uses: dtolnay/rust-toolchain@stable
      - name: Install cargo-make from crates.io
        uses: baptiste0928/cargo-install@v3
        with:
          crate: cargo-make
      - name: Install rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v2
      - name: Flatbuffers binary cache
        id: flatbuffers-cache
        uses: actions/cache@v4
        with:
          path: ~/flatc
          key: flatbuffers-${{ runner.os }}-${{ env.FLATBUFFER_VERSION }}
      - name: Install flatbuffers
        if: steps.flatbuffers-cache.outputs.cache-hit != 'true'
        run: .github/workflows/build_flatbuffers.sh
      - name: Copy flatbuffers binary to /usr/bin
        run: sudo cp ~/flatc /usr/local/bin/
      - name: Removing 2024 tests when testing our MSRV
        if: matrix.rust == '1.83'
        run: rm -rf test/rust-test-2024
      - run: cargo make full-test
